* {
  color: black;
line-height: 1.4em;

}

h1 {
  color: green;

}

div {
  color: black;

}
div p {
  color: black;

}
div h2 {
  color: grey;

}
div ul {
  color: maroon;

}
.my_list {
  color: brown;

}
.questions {
  color: gold;

}
