* {
  color: black;
line-height: 1.4em;
font-family: "Courier New", Courier, monospace;
letter-spacing: 0.15em;

}

h1 {
  color: green;

}

div {
  color: black;

}
div p {
  color: black;

}
.my_list h2 {
  color: grey;

}
div ul {
  color: maroon;
}
